# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project

# Vendors
**/*.js
node_modules/

# Build
# dist
/npm-debug.log
**/*.js
vendor/**/*.css
node_modules
node_modules
node_modules
node_modules
node_modules
