/* CUSTOM PHASER 3 STYLES CAN BE IMPLEMENTED HERE */
body {
    padding:0;
    margin:0;
    background:red;
    font-family:verdana;
    color:#ccc;
    font-size: 100%;
}

canvas {
    margin:0 auto;
    text-align:center;
    display:block;
}