@import "variables";

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: $background-col;
}

@font-face {
	font-family: gameFont;
	src: url($fontpath) format("woff");
	font-weight: normal;
}
.fontloader {
	position: absolute;
	left: -1000px;
	visibility: hidden;
}

canvas {
	display: block;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
